.header {
    
    width: 100%;
    display: flex;
    background-color: lightblue;
    padding: 20px;
    outline: 1px solid darkblue;
    margin-bottom: 40px;    

    &__col {
        width: 50%;
        display: block;
        background-color: lightgreen;
        padding: 20px;
        outline: 1px solid darkgreen;

        &--grey {
            background-color: lightgrey;
        }
    }

    &__logo {
        width: 10%;
        display: block;
        max-width: 100%;
        margin: 0px;
    }

    &__menu{
        display: block;
        background-color: lightcoral;
        padding: 20px;
        outline: 1px solid darkred;
    }

    &__menu-link{
        color: black;
        display: inline-block;
        padding-right: 10px;
        text-decoration: none;

        /*&--withe {
            color: white;
        }*/
        .header--light &{
            color: white;
        }
    }
}